body {
  background-color: #202123; /* yeşil #202322, gri_mavi #202123 */
  color: #cccccc;
}

@media (resolution: 96dpi) {
  body {
    width: 99%;
	height: 100%;
  }
}

.form_row {
	display: flex;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 5px;
	background-color: #3c484d; /* yeşil #3c484d  ,  gri_mavi #444654; */
	border-radius: 5px;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.gru_tbox {
	flex-grow: 1;
	background-color: #30313b; /* yeşil #3c4d47, gri_mavi #30313b */
	color: #cccccc;
	height: 25px;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}
.changed_gru_tbox {
	flex-grow: 1;
	background-color: #2c425e; /* editlenince mavimsi renk*/
	color: #cccccc;
	height: 25px;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.vit_box {
	background-color: #115363;
	height: 25px;
	font-size: 16px;
	margin-left: 3px;
	color: #cccccc;
}

.form_dik {
	display: flex;
    flex-direction: column;
}

.form_dik_grow {
	display: flex;
    flex-direction: column;
	flex-grow: 1;
}

.form_duz {
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #444654;
}

#div_but {        
    display: flex; /* JS de görünür yaparken 'block' = 'flex' yapman gerekiyor. yoksa yatayda hizalama olmaz*/
    align-items: center;
	justify-content: center;
}
.form_top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form_blob {
	display: flex;
	width: 100%;
	height: 80%;
	overflow: auto; /* İçerik sığmazsa kaydırma çubuğunu göster */
}
#bt_small {
	font-size: 18px;
    position: absolute;
    left: 50px;   /* sağdan 50px */
    bottom: 50px;  /* alttan 50px */
    padding: 4px 10px;
    border-radius: 8px;
    background: #4a90e2;
    color: white;
    cursor: pointer;
}

#form_gizli {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #4a401d;
	height: 30px;
}

#tx_TA, #tx_NB, #tx_SS, #tx_SAT, #tx_ates, #tx_ks, #tx_TAi, #tx_NBi, #tx_SSi, #tx_SATi, #tx_atesi, #tx_ksi {
    font-size: 18px;
	background-color: #495557;
	font-family: "Courier New", monospace;
	color: #cccccc;
	text-align: center;
	height: 21px;
	font-weight: bold;
}
#tx_NB, #tx_SS, #tx_ks, #tx_ates, #tx_NBi, #tx_SSi, #tx_SATi {
    width: 50px;
}

#tx_TA, #tx_atesi, #tx_TAi, #tx_ksi, #tx_SAT {
	max-width: 75px;
}


#bt_konti {
  background-color: #2f79a1;
  width: 70px;
  height: 30px;
  cursor: pointer;
  color: #fff;
}

#tx_name {
  width: 250px;
  background-color: #30313b;
  color: #d6d624;
  font-size: 20px;
 	background-image: url('iko/enter.png');
	background-repeat: no-repeat;
	background-position: right; /* Ortalanmış ama 10px yukarı kaydırılmış */
  z-index: 109;
}

#tx_icd {
  background-color: #3d311c;
  color: #fcfc6a; /* parlak sarı */
  font-size: 18px;
  opacity: 0.8; /* %20 opasite ikonları matlaştırmak için */
  background: /* Çoklu arkaplan tek satırda */
    url('iko/diagnosis.png') center center / contain no-repeat,
    url('iko/r_click.png') calc(100% - 10px) center / contain no-repeat;
  z-index: 109;
}

#lb_icd, #lb_112, #tx_plan {
    font-weight: bold;
	font-size: 18px;
}
#tx_plan {
	opacity: 0.6; /* %40 opasite */
	 width: 40px;
}
#tx_kons {
	width: 70px;
	max-width: 300px;
	background-image: url('iko/cons1.png'), url('iko/r_click.png'); /* İlk resim solda, ikinci resim sağda */
	background-repeat: no-repeat, no-repeat;
	background-size: 40px, contain; /* İlk resim 40px, ikinci resim orijinal boyut */
	background-position: 5px center, calc(100% - 10px) center; /* İlk resim solda, ikinci sağda */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
}

#tx_polk {
	width: 140px;
	background-color: #374034;
	background-image: url('iko/cons1.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	margin-bottom: 10px;
}

#ta_trv {
  width: 900px;
  height: 60px;
   margin-bottom: 5px;
   background-color: #2d2e3b;
   color: #ccc;
   font-size: 16px;
}

.cls_akc {
	display: none;
	margin-right: 10px;
}
#tx_akc {
	margin-left: 10px;
	margin-bottom: 5px;
	background-image: url('iko/im_now.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain; /* İmaja yüksekliğe göre uyum */
	padding-left: 30px; /* yazı biraz sağdan başlar */
	color: #ff977d;
}

textarea {  /* sitedeki tüm textare'lara etki edecek */
	  /*scrollbar-width: none;      Edge ve chrome da scroolbar gizle */
  scrollbar-width: thin;          /* ince yap */
  scrollbar-color: #565859 #303233; /* thumb , arkaplan */
}

#ta_sik {
  width: 800px;
  height: 120px;
  background-color: #30313b;
  font-size: 16px;
}

#ta_ted {
	width: 450px;
	height: 75px;
	background-color: #30313b;  
	margin-top: 5px;
	margin-left: 10px;
	color: #cccccc;
	background-image: url('iko/op_im_med.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; /* İmaja yüksekliğe göre uyum */
	
}
#ta_pro {
  width: 550px;
  height: 85px;
  background-color: #30313b;  
  margin-top: 5px;
  margin-left: 10px;
  color: #cccccc;
	background-image: url('iko/op_im_dash.png');
	background-repeat: no-repeat;
	background-position: calc(50% - 70px) center;
	background-size: contain; /* İmaja yüksekliğe göre uyum */
}

#ta_son {
	flex-grow: 1;
	height: 60px;
	margin-left: 10px;
	background-color: #565958;
	color: #00000;
	background-image: url('iko/ghost.png');
	background-repeat: no-repeat;
	background-position: right top;
    text-shadow: -0.5px -0.5px 0 #000; /* Harf çevresine 0.5px siyah gölge */	
}

#ta_izl {
	/*pointer-events: none;*/
	display: none;
	flex-grow: 1;
	height: 40px;
	color: #f0f2f1;
	background-color: #565958;
	background-image: url('iko/ghost.png');
	background-repeat: no-repeat;
	background-position: right top;
    text-shadow: -0.5px -0.5px 0 #000; /* Harf çevresine 0.5px siyah gölge */
}

#ta_pc {
  flex-grow: 1;
  height: 40px;
  background-color: #303146; 
  margin-top: 5px;
  margin-left: 10px;
  color: #ccd0d9;
	background-image: url('iko/op_sisi.png');
	background-repeat: no-repeat;
	background-position: center; /* right 350px center; */
	background-size: contain;
}

#ta_ext {
	width: 900px;
	height: 80px;
	color: #757d79;
	margin-left: 5px;
	background-color: #374034;
	text-shadow: -0.5px -0.5px 0 #000;
}
/* Özel çift tıklama içeren (saat ekleme, ek bilgi, chbx eklemeleri olan elementleri belirtir */
#tx_SAT {
	background-image: url('iko/mouse.png');
	background-repeat: no-repeat;
	background-position: right;
}

#bt_bck {
	padding: 5px 10px;
	background-color: #9e7b3a;
	width: 120px;
	margin-left: 10px;
	cursor: pointer;
}
#bt_Cloud {
	display: none;
	height: 30px;
	width: 60px;
	margin-left: 10px;
	cursor: pointer;
	color: #fff;
}

#bt_new {
  background-color: #0e6b27;
  width: 70px;
  height: 30px;
  margin-left: 1px;
  cursor: pointer;
}

#bt_del {
  background-color: #7d2923;
  width: 70px;
  height: 30px;
  margin-left: 1px;
  cursor: pointer;
}

#bt_list {
    padding: 10px 5px;
	width: 60px;
    height: 30px;
    background-image: url('iko/arrow.png');
    background-repeat: no-repeat; /* Görüntü yinelenmesini engeller */
    background-size: 100% 100%; /* Görüntüyü genişlik ve yükseklik boyunca oturtur */
	cursor: pointer;
}

#bt_kons {
    background-color: #1d1e1f; /* Siyah renk */
    color: #ccc; /* Yazı rengi */
    width: 140px;
    height: 30px;
    cursor: pointer;
    border: none;
    margin-left: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Dış gölgelendirme */
}


#bt_krr {
	width: 140px;
	height: 30px;
	margin-right: 20px;
	background-color: #116970; 
	border: none;
	color: #e0e0e0;
	cursor: pointer;
	/* animation: blink 2s linear infinite;*/
}

@keyframes blink { /* Bu siren tarzı buton, blink'deki kırmızı ile üstteki renk arası döner */
  50% {
    background-color: #2089e6;
  }
}

#bt_res {
	margin-left: 5px;
	background-color: #778899;
	width: 70px;
    height: 30px;
	cursor: pointer;
}

#bt_blur {
	margin-left: 150px;
	background: 
		repeating-linear-gradient(
			45deg,
			#778899,
			#778899 10px,
			#556b2f 10px,
			#556b2f 20px
		);
	width: 70px;
    height: 30px;
	cursor: pointer;
}

.div_res {
	margin-bottom: 30px;
}

#bt_src {
	width: 35px;
    height: 30px;
	background-image: url('iko/search.png');
	background-repeat: no-repeat;
	background-position:right;
	cursor: pointer;
}

#bt_cik {
  background-color: #cf1130;
  	width: 30px;
    height: 30px;
	cursor: pointer;
	color: #ccc;
	font-weight: bold;
}

#bt_list:active {
  background-image: none;
  background-color: #ccc;
  cursor: pointer;
}

#pop_save, #pop_pano, #pop_cancel {
	width: 120px;
    height: 40px;
	color: #ccc;
	font-size: 18px;
}

#pop_save {
  background-image: url('iko/save.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7e8187;
}
#pop_pano {
	background-color: #037780;;
}
#pop_cancel {
	background-color: #778899;
}

#lb_sik, #lb_icd {
  display: inline-block;
  vertical-align: top;
}

#lb_i {
  font-weight: bold;
  width: 40px;
  font-size: 23px;
}

#im_ext {
  width: 40px;
  height: 40px;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: #2e2f30;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 10px #9;
  z-index: 995;
  /* overflow: auto;  İçerik sığmazsa kaydırma çubuğunu göster */
}

#ta_pop, .ta_pop { /* ***bu element css'sini js ile başka biryerde "classList.add(")" yapmak istersen "." 'lı da eklemen gerek*/
  flex-grow: 1; /* Otomatik esneyen yükseklik ve genişlik "width: 99%; height: 100%;" */
  background-color: #1a3147;
  padding-left: 15px;
  padding-top: 15px;
  color: #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  letter-spacing: 1px; /* Harfler arası boşluk*/
  /* line-height: 2; /* Satır yüksekliği, popup.js de seçime göre ayarladım*/
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
    background-image: url('iko/shift.png');
    background-repeat: no-repeat;
	background-position: 100% 100%; /* sağ alt köşe*/
	outline: none; /* tıklama yada seçme ile olan ; varsayılan"focus outline" yani odak çizgisinin iptali için */
}

#popGist {
  display: none;
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;  /*flex-grow: 1;*/
  height: 100%;
  background-color: #2e2f30;
  color: #cccccc;
  border: 1px solid #4a658c;
  box-shadow: 0 0 10px #999;
  /*z-index: 999; Ön planda tutmak için kullanılır*/
  overflow-y: auto;
  /*transition: left 0.5s ease;*/
  margin-top: 5px;
  border-radius: 5px;
  z-index: 95;
}

#tblGist {
	opacity: 0.9; /* %10 opasite */
  /*
  min-width: 600px; /* minimum bu genişlikte başlar ama otomatik genişler
  width: auto; */
}
#tblGist td:first-child {
  width: 6%; /* İlk hücrenin genişliğini %5 olarak ayarla */
}
#tblGist td:nth-child(2) {
  width: 38%; /* İkinci hücrenin genişliğini %25 olarak ayarla */
}
#tblGist td:nth-child(3) {
  width: auto; /* İkinci hücrenin genişliğini otomatik ayarla */
}

/*
#tblGist td:not(:first-child):not(:nth-child(2)) {
  width: auto; /* Diğer hücrelere otomatik genişlik bırak 
} 
*/

#alert_pop {
	display: none;
	position: fixed;
	width: 35%;
	height: 20%;
	background-color: #433a45;
	color: #fff;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 15% 15% 55% 55%;
	border: 3px solid #efe9f0;
	box-shadow: 0 0 10px #999;
    background-repeat: no-repeat; /* burdan sonrası alertci.. ile arkaplana imaj eklerkenki ayarlar */
    background-position: left top;
    background-size: contain;
    padding-left: 10px;
    padding-bottom: 10px;
	z-index: 996; /* popup da 998, bu onunda üstünde kalması için */
}

#alr_pop, #bt_ava {
	font-size: 30px;
	display: flex; /*  birşeyi tam ortaya getirmek için bu 3 satırı kullan */
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);  /* gölgeleme */
}


#lb_saat {
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

.pressed {
  border: 1px solid green; /* Buton basıldığında görünümü değiştirebilirsiniz */
  background-color: #ffcccc;
}

/* Tüm optionların arka plan ve yazı rengi */
#slc_112, #slc_trj {
	background-color: #6b6b6b;
   color: #ccc; /* Açıldığında yazı rengi */
   margin-right: 10px;
   font-size: 20px;
   height: 30px;
}

#slc_112 option, #slc_trj option {
	background-color: #6b6b6b;
	color: navy;
	font-size: 22px;
	padding:5px 0;
}
	#slc_112 option[value="1"] {
	  background-color: #3a6342; /* mat yeşil */
	  color: navy;
	}
	#slc_112 option[value="2"] {
	  background-color: #31598f; /* mat mavi */
	  color: darkblue;
	}
	#slc_112 option[value="3"] {
	  background-color: #873e3e; /* mat kırmızı */
	  color: #ccc;
	}
	
	#slc_trj option[value="1"] {
	background-color: #909446; /* mat Sarı */
	color: darkblue;
	}
	#slc_trj option[value="2"] {
	background-color: lightcoral;
	color: #ccc;
	}

#slc_gks {
	width: 65px;
	height: 30px;
	background-color: #6b6b6b;
	font-size: 16px;
	color: #ccc;
}
    #slc_gks option[value="1"] {
        background-color: #138727;/* yeşil */
		font-size: 20px;
    }
    #slc_gks option[value="2"] {
        background-color: #a1710b;/* turuncu */
		font-size: 20px;
    }
    #slc_gks option[value="3"] {
        background-color: #cc1d43;/* kırmızı */
		font-size: 20px;
    }
    #slc_gks option[value="4"] {
        background-color: #0f0201; /* siyah */
		font-size: 20px;
    }
	
	
.cons_box {
  width: 650px;
  height: auto;
  background-color: #242f36; 
  position: absolute;
  right: 50%;
  top: 130px;
  border: 3px solid #9fa5a6;
  display: none;
  border-radius: 20px;
  z-index: 2001;
}

.cons_box input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 15px;
}

.cons_conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 12px;
}

.cons_conteiner div {
  display: inline-flex;    /* Flexbox modelini inline olarak kullanarak hizalamayı sağlar */
  align-items: center;
  width: 25%; /* Her bir label ve checkbox'ın genişliği */
  margin-left: 25px;
}

.cons_conteiner label {
	margin-left: 10px;
	letter-spacing: 0.05em; /* harfler arası boşluk (0.05em = biraz açık) */
}

.lb_key {
  border-radius: 5px
}

#div_cer {
	background-color: #013635;
	border-radius: 20px;
	margin-top: 20px;
	border: 3px solid #9fa5a6;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cons_conteiner img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 4px;
}

#ch_pop {
	padding: 4px;
	margin-top: 10px;
	padding-left: 10px;
}

#bt_yaz {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #a37214;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

#div_dah {
	margin-top: 40px;
}

/* bu border kodları js kodu içerisinde ".classList.add("css_blue_border");" şeklinde kullanılır*/
.thin_yellow_brd {
    width: 100%;
    height: 100%;
    border: 1px solid #ebe349;
	border-radius: 10px;
}
.thin_red_brd {
    width: 100%;
    height: 100%;
    border: 1px solid #e81d0e;
	border-radius: 10px;
}
.thin_green_brd {
    width: 100%;
    height: 100%;
    border: 1.5px solid #25b03d;
	border-radius: 10px;
}
.thin_purple_brd {
    width: 100%;
    height: 100%;
    border: 1.5px dashed #b00abf;
	border-radius: 10px;
}
.thin_red_yel_brd {
    width: 100%;
    height: 100%;
    border: 1.5px solid;
    border-color: #e81d0e #ebe349 ; /* Kırmızı ve sarı dönüşümlü */
    border-radius: 10px;
}

#div_clas {
  display: flex;
  align-items: center; /* dikeyde ortalar */
}