
#ch_ame,#ch_ekg, #ch_ilac,#ch_rt,#ch_sol,#ch_krd,#ch_nor,#ch_bat, #ch_dig, #ch_ozg, #ch_ext, #ch_akc, #ch_alj, #ch_koa, #ch_tum, #ch_exi, #ch_pc, #ch_plus, #ch_trv, #ch_adli, #ch_akg, #ch_sevk, #ch_tetkik, #ch_tetkik2, #ch_tetkik3, #ch_tetkik4, #ch_onay , #ch_tedSil, #ch_vitn, #ch_time, #ch_vitn2, #ch_askom {
    accent-color: #a8d4a8;
  	transform: scale(1.5);
	margin-left: 5px;
	opacity: 0.7; /* %30 saydamlık (0.7 = %70 opak) */
}

#ch_ted {
    accent-color: #a8d4a8;
  	transform: scale(1.5);
	opacity: 0.7;
}

#ch_ext {
  	transform: scale(2.5);
}

#chn_not, #chn_not2, #chn_not3, #chn_not4, #chn_not6 {
    accent-color: #a8d4a8;
  	transform: scale(2);
	margin-left: 25px;
	opacity: 0.7;
}
#chn_not5, #ch_srt {
    accent-color: #a8d4a8;
  	transform: scale(2);
	opacity: 0.7;
}

.lb_big, #lb_srt { /* Dikkat "." class verisi, id değil */
	font-size: 22px;
}

#ch_xr {
  opacity: 0;
  height: 30px;
  width: 50px;
}
#ch_xr2 {
  opacity: 0;
  height: 30px;
  width: 30px;
}
.txCont_pat, #div_srt {
	display: none;
}

.ara_cont {
    display: none;
	align-items: center;
	justify-content: center;
}

#tx_ara {
  height: 25px;
  background-color: #2c425e;
  color: #cccccc;
  font-size: 18px;
  margin-left: 15px;
  width: 250px;
}

#im_hermes:hover {
  background-color: #1bd9fa22;     /* Hover'da hafif parıltı */
  box-shadow: 0 0 8px #1bd9faaa;   /* Hover'da daha güçlü parlama */
  transform: scale(1.03);          /* Hafif büyüme efekti */
}


/* ----------------- Boyut renk vs toplu kullanılacak tekli kod alanı ------------------------*/

#im_akg, #im_easy, #im_sis, #im_bt, #im_ekg, #im_xry, #im_trv, #im_norm, #im_vit, #im_cok, #im_plan, #im_adl, #im_copy, #im_copy2, #im_lcop, #im_pcop, #bt_iki, #im_fm {
  width: 30px;
  height: 30px;
  opacity: 0.6; /* %40 opasite */
}
 
#im_112 {
  width: 30px;
  height: 25px;
}
#im_shor, #im_shrk, #im_sevk {
  width: 30px;
  height: 18px;
}
#im_hermes, #im_whap, #im_srt, #im_tr_exm {
  width: 40px;
  height: 40px;
  transform: scaleX(-1); /* Ayna görüntüsü */
  opacity: 0.6; /* %40 opasite */
}

#im_blood, #im_urine, #im_trx, #im_bt, #im_mr, #bt_Session {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 3px;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.5s ease, opacity 0.5s ease;
  opacity: 0.3;
}

#lb_ted, #ch_ted {
	padding-top: 7px;
}

#ch_adli, #ch_trv {
	accent-color: #633e11;
}

#ch_pc {
	margin-left: 5px;
	float: left
}

#tx_src {
	width: 170px;
	font-size: 18px;
}

#im_copy {
	margin-left: 35px;
}

#lb_nrl, #lb_gog, #lb_dah, #lb_gen, #lb_kvc, #lb_nrs, #lb_gcr, #lb_nfr, #lb_ort, #lb_ane, #lb_rt, #im_akg, #lb_alj, #custom_pcDen, #lb_cxr, #im_112, #lb_plus, #im_adl, #im_srt, #lb_upd, #im_shor, #im_shrk, #tx_src, #lb_bt, #lb_xr, #lb_mr, #im_ext, #im_easy, #im_sis, #lb_pln {
	margin-left: 20px;
}

#im_clear {
	margin-left: 15px;
}

#lb_srt, #im_whap, #im_sevk, #im_xry, #im_plan {
	margin-left: 15px;
	opacity: 0.6; /* %10 opasite */
}

#lb_has, #lb_ame, #lb_ta, #lb_sik, #lb_sol, #lb_bat, #lb_icd, #lb_ted, #im_ekg, #lb_gist, #slc_gks, .swtc_pls, .swtc_pc, #lb_son, #ch_srt, #lb_ozg, #lb_izl, #bt_cik {
	margin-left: 10px;
}

#lb_NB, #lb_SS, #lb_ates, #lb_SAT, #lb_ks, #im_trv, #im_norm, #im_urine, #im_trx, #im_bt, #ch_ted {
	margin-left: 5px;
}

#tx_gks {
	margin-left: 0px;
}

#im_norm, #ch_ext, .form_top, #im_cok, #im_hermes, #lb_s, #ch_exi, #ch_tum, #im_easy, #im_ext, #lb_ext, #im_fm, #ch_vitn2 { 
	margin-right: 10px;            /* bir div id'si ekleyecek isen "." kullanmalısın*/
}

#sag_pad, #ch_sevk, #im_sis, #im_clear, #ch_onay {
	margin-right: 20px;
}

#lb_vitn, #lb_onay  {
	margin-left: 60px;
}

#div_tetk {
	margin-left: 110px;
	border-radius: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#im_easy {
	margin-top: 5px;
}

#main {
	width: 75%;
}

.xr--wrapper {
	background-color: #f2f2f2;
}

#lb_idm {
	font-size: 20px;
	color: #4a75ba;
}

/* Gizli checkbox */
.iphone_switch {
  display: none;
}

/* Switch butonu stilini tanımla */
.swtc_bok, .swtc_pls, .swtc_pc {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7; /* %30 opasite */
}

/* Switch butonu içindeki kaydırma gövdesi */
.swtc_bok::before, .swtc_pls::before, .swtc_pc::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}
/* Bilgisiz getirilen ambulan için kullanılan checkbox */
.iphone_switch:checked + .swtc_bok::before, .iphone_switch:checked + .swtc_pls::before, .iphone_switch:checked + .swtc_pc::before {
  transform: translateX(20px);
}
.iphone_switch:checked + .swtc_bok {         /* Tikli hali için kaydırma gövdesinin rengi */
  background-color: #a89271; /* açık kahve renk */
}
.iphone_switch:checked + .swtc_pls {
  background-color: #0a60ab; /* turuncu */
}
.iphone_switch:checked + .swtc_pc {
  background-color: #3e9c9e; /* turuncu */
}

/* ----------------------------------------------- Sanal element alanı */
#bt_ava {
    display: flex;
    height: 40px;
    border-radius: 10px;
    background-color: #214257;
    color: #ccc;
    font-weight: bold;
    font-size: 21px;
	margin-right: 15px;
	border: 2px solid #efe9f0;
}

#tx_hour, #tx_min {
	width: 40px;
	height: 35px;
    color: #6bc2c2;
    font-weight: bold;
    font-size: 30px;
	background-color: #717575;
	border-radius: 7px;
	border: 2px solid #efe9f0;
	margin-left: 5px;
	text-align: center; /* Yazıları ortala */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#bt_1dusur {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

#bt_5ekle {
	display: inline-block; 
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.ta_sanal { /* bu div ile oluşturulan sanal bir element olduğu için # yerine . ile işaretleniyor */
  width: 100%;
  height: auto;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #2c425e;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px; /* Harfler arası boşluk*/
}

/*    type="file" elementleri browser korumalıdır, şeklini şemalini değiştiremezsin. iphone_switch gibi label ile şekil veriliyor. */
#pcDen {
	display: none;
}
#custom_pcDen { 
    display: none;
	width: 120px;
    height: 30px;
    background-color: #558a27;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
	justify-content: center; /* Yazıyı buton merkezine getirmek için. JS de görünür yaparken display = "flex" yapman gerekiyor */
	align-items: center;
}

#custom_pcDen:hover {
    background-color: #1f568c;
}

/* ————————————————————————————————————————————————  Lab pop divi  ————————————————————————————————————————————————————— */
#bt_exl {
    display: none;
}

#custom_exl {
    width: 120px;
    height: 30px;
    background-color: #558a27;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    line-height: 30px; /* Dikey hizalama */
    display: inline-block; /* Satır içi eleman olarak görüntüle */
}

#custom_exl:hover {
    background-color: #1f568c;
}

#pop_labci {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
	overflow-y: auto; /* Dikey kaydırma çubuğunu etkinleştirir */
	background-color: #cfcb91; /* Kirli açık mat sarı rengi */
	z-index: 509;
}
.yatay, .button-container {
    display: flex;
    flex-direction: row;
	align-items: center;
}

.yatay {
    margin-left: 20px; /* İstediğiniz boşlukları ayarlayabilirsiniz */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Elementlerin eşit aralıklarla dağılmasını sağlar */
    align-items: center; /* Dikey hizalama */
}

.button-container button,
#custom_exl {
    flex-grow: 1; /* Tüm elementlerin aynı genişliğe sahip olmasını sağlar */
    margin: 5px; /* Butonlar arasında boşluk */
	height: 30px;
}

#ta_girdi {
	width: calc(100% - 55px); /* padding ve border genişliklerini hesaba katmak için*/
	height: 150px;
	background-color: #807d55; /* Kirli açık mat sarı rengi */
	border: 1px solid black;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 18px;
	color: #fff;
}
#ta_pato {
	width: calc(100% - 25px); /* padding ve border genişliklerini hesaba katmak için*/
	height: 50px;
	background-color: #604a63; /* Kirli açık mat mor rengi */
	border: 1px solid black;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 18px;
	color: #fff;
}

h4 {
    margin: 0;
    padding: 0;
	color: black;
}

/* pop_lab.js = pop_sick() deki tx_ozg'de hastalık ekleme sanal chx'ları */
.sick_chx.checked {
    color: red; 
}
.sick_chx.checked input[type="checkbox"] {
    color: red;
}

#medicineList {
    max-height: 400px; /* Maksimum yükseklik */
    overflow-y: auto; /* Yalnızca dikey kaydırma */
    border: 1px solid #ccc; /* Kenarlık */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
}

.highlighted {
    border: 3px solid #8bff3d;
}

#alert_ok_img {
  width: 100px;
  height: 100px;
}

@keyframes blink {
    0% { background-color: #d4c29c; } /* Kirli sarı */
    50% { background-color: #627680; } /* Mat mavi-gri ton */
    100% { background-color: #d4c29c; }
    0% { border: 3px solid #7a534f; } /* Mat kahverengi ton */
    50% { border: 3px solid #d4c29c; } /* Kirli sarı */
    100% { border: 3px solid #7a534f; }
}

.update_blink {
    animation: blink 2s infinite;
}

#lb_say {
	font-size: 32px;
	font-weight: bold;
	margin-right: 200px;
}
#lb_name {
	font-size: 32px;
	font-weight: bold;
	margin-left: 20px;
	text-transform: capitalize; /* Her kelimenin ilk harfini büyük yapar */
}

#pop_sevk {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 60%;
  background-color: #252029;
  padding: 25px;
  border: 2px solid #a0a162;
  box-shadow: 0 0 10px #999;
  z-index: 996;
}

/*-------------------------------   uyarı mesajı titreyen zil ve üst köşesine badge numara ekleme */
@keyframes tilt {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.tilt {
  animation: tilt 0.3s ease;
  animation-iteration-count: 5;
}

.img_container {
  position: relative;
  display: none;
  float: right;
  margin-right: 55px;
  	width: 35px;
    height: 35px;
}
.num_badge {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #2a86b8; /* alert numara rengi popup içindeki */
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 18px;
  font-weight: bold;
}

.lb_sabit, #lb_fake {
	width: 100px;
}
.lb_sabit2 {
	width: 70px;
}
#lb_lab, #lb_sted{
	margin-left: 15px;
}
#bt_sevk {
	width: 150px;
	height: 35px;
	margin-left: 30px;
	background-color: #116970; 
	color: white;
	cursor: pointer;
}
#hospInput {
    background-color: #274228;
}

#eventInput {
  height: 40px;
  background-color: #30313b;
}
.tx_sevk {
	flex-grow: 1;
	background-color: #30313b;
	height: 30px;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
	color: #e8e8e8;
}
#div_tetk, #div_onay, #div_tedD, #div_vitn {
	height: 35px;
}
.lb_ara {
	font-size: 25px;
	font-weight: bold;
	margin-left: 90px;
	color: #ccc;
	user-select: none;     /* metin seçilmesin */
}
#div_tedD {
	margin-left: auto; /* flex conteiner içerisinde bunu sağa dayar */
}
#div_tetk {
	background-color: #3c484d;
	border-radius: 5px;
}
.sol_fix {
    display: flex;
    flex-direction: row;
	align-items: center;
	width: 110px;
}

#alert_box {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 57%;
  background-color: #021921;
  padding-left: 65px;
  padding-top: 45px;
  padding-right: 20px;
  font-size: 22px;
  color: #f2fcff;
  border: 2px solid #7899c2;
  box-shadow: 0 0 10px #999;
  z-index: 996;
}
#bt_hide, #bt_delsvk, #bt_hExm {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10%;
	z-index: 899;
	width: 55px;
	height: 35px;
	font-size: 16px;
	border-radius: 8px;
}
#bt_hide {
	background-color: #0d84bf;
	margin-right: 70px;
}
#bt_delsvk, #bt_hExm {
	background-color: #ba8507;
}

#hospInput::placeholder,#complainInput::placeholder, #eventInput::placeholder, #taniInput::placeholder, #gerekceInput::placeholder, #doktorInput::placeholder,  #verililac::placeholder, #bransInput::placeholder, #sonucInput::placeholder, #tx_rt::placeholder {
  padding-left: 50px;
}
#verililac {
	background-image: url('iko/op_im_med.png');
	background-repeat: no-repeat;
	background-position: center; /* Ortalanmış ama 10px yukarı kaydırılmış */
	background-size: contain;
}

#sonucInput {
	background-image: url('iko/op_im_dash.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; /* İmaja yüksekliğe göre uyum */
}

#j_border {
    border: 3px solid #a4a5a6;
	border-radius: 8px;
	padding: 10px 3px; /* 1.si Alt ve üst, 2.si yanlar boşluk ekler */
}
#lb_vitn, #lb_vitn2 {
	color: #35b056;
}
.sanal_label {
    border-radius: 8px;
    padding: 0 5px; /* Üst ve alt padding yok, sol ve sağ 5px */
}
.highlight_lbl:hover {
    border: 2px solid #007bff; /* Canlı mavi border */
    border-radius: 8px;
}

.cons_box label {
    font-size: 18px;
	cursor: pointer;
	padding: 5px 0;
}

.cons_box img, #lb_idm {
	cursor: pointer;
}

#div_TrvExam {
  position: absolute;
    top: 2%;
    left: 15%;
    color: #ccc;
    padding: 5px 10px;
    border-radius: 10%;
	z-index: 997;
  width: 70%;
  height: 95%;
	font-size: 16px;
}

#im_copy2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* -------------------- açılır kapanır buton seti ayarlamak için  -------------------------- */
.div_folding2 {
  position: relative;
  display: inline-block;
  width: 30px;
  height: auto; /* Gerekirse ayarlanabilir */
}
#div_cont2 {
	background: #454a4f;	
  display: none;
  position: absolute;
  border-radius: 10px;
  z-index: 100;
  padding: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   bottom: 100%; /* yukarı doğru açılması için */
}

#div_cont2 {
  width: 200px;
}

#bt_set {
	width: 110px;
	height: 30px;
	background-color: #265730; 
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}

#bt_iki {
  width: 30px;
  height: 30px;
  background-color: #313c47; 
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
}

#div_cont2 input {
  display: block;
  width: 180px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------*/
.sanal_box {
    position: absolute;
    background: #333;           /* koyu arka plan */
    color: #fff;                /* açık yazı rengi */
    border: 1px solid #888;
    padding: 10px;
    z-index: 997;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
    max-width: 300px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    border-radius: 6px;
}

.sanal_item {
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    transition: background 0.2s;
}

.sanal_item:hover {
    background-color: #555;    /* koyu hover */
}
/* -------------------------------------------------------------- saat onay ve editleme kısmı --------*/
#div_yBut {
  display: none;
  width: 100px;
  height: 30px;
  display: flex;
  margin-left: 10px;
  overflow: hidden;
  background: #111; /* Koyu arka plan */
  border: 1px dashed #ccc;
}

#bt_oki, #bt_edit {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;	
  font-family: monospace;
  color: #0f0; /* Yeşilimsi açık yazı (saat ekranı gibi) */
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

#bt_oki {
  background: #134057; /* Arka plan koyu */
}

#bt_edit {
  background: #1f1f1f; /* Arka plan koyu */
}

#bt_oki + #bt_edit {
  border-left: 1px solid #333; /* Ortada ince koyu çizgi */
}

  /* ----------------------------------------------------------------------------------------*/
  #bt_clr {
  width: 30px;
  height: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #876108;
  border-radius: 6px;
}

#bt_ke {
  background-color: #a64744; /* Mat açık kırmızı */
  color: white; 
  font-weight: bold; 
  margin-left: 20px; 
  margin-top: 5px;
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
  /* --------------------all gist update efekt alanı --------------------------------*/
#updateOverlay {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 50%;
  height: 50%;
  background-color: black;        /* DOS siyah arka plan */
  display: flex;                 
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 10px;
}

.overlay-content {
  width: 90%;
  height: 90%;
  background-color: black;
  color: #00ff00;                 /* yeşil DOS yazı */
  font-family: 'Courier New', monospace; /* DOS font */
  font-size: 1.2rem;
  overflow-y: auto;
}

#dosOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Dönen imleç (| / - \) */
.blink-cursor::after {
  content: "|";
  display: inline-block;
  animation: blinkCursor 0.3s steps(1) infinite;
}

@keyframes blinkCursor {
  0% { content: "|"; }
  25% { content: "/"; }
  50% { content: "-"; }
  75% { content: "\\"; }
  100% { content: "|"; }
}

/* gist tablosunda hasta seçiminde  */
.select_gist {
  position: relative;
  border: 3px solid #ecf086;
  border-left: none; /* Sol border’ı kaldır */
  background: transparent;
  padding: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select_gist::before {
  content: '';
  position: absolute;
  left: -12px;  /* hücre dışına taşı */
  top: 0;
  width: 12px; /* genişliği arttırabiliriz */
  height: 100%;
  background: #ecf086;

  /* Sol tarafta sivri üçgenimsi görünüm */
  clip-path: polygon(
    100% 0%,    /* sağ üst köşe */
    0% 50%,    /* sol orta, sivri uç */
    100% 100%   /* sağ alt köşe */
  );
}

/* değişim yapılmış ve session update yapılmış ama cloud update bekleyen gist tablosu vurgusu */
.waiting_cloud_upt {
    background-image: url('iko/cloud_upd.png');
    background-size: fit;
    background-repeat: no-repeat;
    background-position: center;
}

/* cevap taşıyan butonlu popup mesaj alanı */
#div_polk_print {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #334647;
  width: 30%;
  min-width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px #0000004D;
  text-align: center;
  border: 1px solid #ccc;
  z-index: 9999;
}

#popp_msg_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popp_msg {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

#popp_img {
  width: 170px;
  height: 200px;
  margin-left: 10px;
}

.popp_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#popp_yes, #popp_no {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

#popp_yes { background: #4caf50; color: #fff; }
#popp_no  { background: #f44336; color: #fff; }

/* tx_icd yanında hızlı icd giriş alanı için */
#div_icd {
  position: absolute;
  background: #202123;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 2px;
  padding: 4px;
  width: 520px;
  max-height: 180px;
  overflow-y: auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 20px;
  scrollbar-width: thin;          /* ince yap */
  scrollbar-color: #565859 #303233; /* thumb, arkaplan */
}
#div_icd div {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  color: #d4cd6c;
}
#div_icd div:hover {
  background: #0078d7;
  color: #fff;
}

#img_spin, #img_spinM {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#img_spin, #img_spinM {
  width: %50;
  height: %50;
}

/* açılış ve yeni gist girişi sırasında bal peteği desen efekti, en altta */

.endi {
  position: relative; /* gerekli */
}
#bg_honey {
	position: absolute;
	left: 50%;
  width: 200px;
  height: 60px;
}

#lb_vers {
	position: absolute;
    left: 10px;
    bottom: 10px;
    font-style: italic;
    color: #59784a;
	margin-top: 10px;
}

